@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 560px; /* Suppose you want minimum width of 1000px */
  width: auto;
  font-family: 'Oswald', sans-serif;
}

#intro {
  width: 100vw;
  height: 100vh;
  background: url(https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg)
    no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  top: 100px;
  color: rgb(241, 241, 241);
}
#intro-inner {
  position: relative;
  top: 25vh;
  text-align: center;
}
#submit {
  text-decoration: none;
  padding: 7px 20px;
  background: #1c335d;
  color: rgb(241, 241, 241);
  border: solid black 1px;
}
#submit:hover {
  background: orange;
  cursor: pointer;
}
#email {
  border: solid black 1px;
  height: 1.7rem;
}

#header {
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 100px 20px;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.726);
}
#header-img {
  display: inline-block;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
}
#nav-bar li {
  margin: 10px;
  text-decoration: none;
}

#features {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#pricing {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pricebox {
  margin: 0 20px 100px 20px;
  width: 300px;
  height: auto;
  border: solid 1px black;
  text-align: center;
  display: grid;
}
.pricebox div {
  background: lightgray;
  text-align: center;
  height: 30px;
  padding: 10px;
}
.pricebox button {
  align-self: flex-end;
  padding: 10px;
  background-color: #f1c40f;
  border-top: 1px solid black;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
.pricebox button:hover {
  background-color: #f1620f;
  cursor: pointer;
}
.pricebox ul {
  list-style: none;
  padding: 0px;
}

@media (max-width: 600px) {
  #pricing {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  #features {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  iframe {
    width: 100vw;
  }
}
