html,
body {
  font-family: roboto, monospace;
  text-align: center;
}

#main {
  background-color: #eee;
  padding: 15px;
  margin: 30px auto;
}

#img-div {
  margin-top: 20px;
  padding: 25px;
  background: white;
  border: 5px solid white;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

#img-caption {
  margin-top: 25px;
}

#tribute-info {
  margin: auto;
  text-align: left;
  max-width: 550px;
}

blockquote {
  font-style: italic;
}
